<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- header section -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="index.html" id="logo"><img src="images/logo.png" alt="" /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Explore</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Drops</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Stats</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Resources</a>
              </li>
            </ul>
            <div class="d-flex align-items-center">
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn" type="submit"><i class="fas fa-search"></i></button>
              </form>
              <ul class="d-flex align-items-center m-0 list-style-none">
                <li class="nav-item">
                  <a class="nav-link" href="#"><img src="/images/user.png" alt="" /></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><img src="/images/wallet.png" alt="" /></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><img src="/images/cart.png" alt="" /></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <!-- banner section -->
    <section id="banner">
      <div class="banner-left">
        <h1>A NFTs Marketplace</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in magna</p>
        <a href="#" class="btn btn-primary">Get Started</a>
      </div>
      <div class="banner-right">
        <div class="banner-sliders"></div>
      </div>
    </section>

    <!-- scripts -->
    <script src="/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.min.js"></script>
  </body>
</html>
